* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 480px;
  height: 700px;
  flex: 480px 0 0;
  box-sizing: border-box;
  background-color: #ccc;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;

  transform: scale(1);
}